.background {
    margin: 5% 20% 10% 20%;
    color: white;
}

.background > button {
    border-radius: 8px;
    background-color: white;
    padding : 8px;
    font-size : 12px;
}

@media screen and (max-width: 1000px) {
    .background {
        margin: 10% 15% 10% 15%;
    }
}

@media screen and (max-width: 600px) {
    .background {
        margin: 10% 6% 10% 6%;
    }
}
