.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    color: white;
    top: 2%;
    margin: 2% 15% 0% 15%;
    z-index: 19999;
}

.innerheader {
    display : grid;
    grid-template-columns: 1fr 1fr;
    gap : 20px;
    line-height: 51px;
}

.menu {
    font-size: 14px;
    position: relative;
    cursor: pointer;
}


.headercontent {
    font-size: 18px;
    line-height: 50px;
}

.headercontent:hover {
  cursor: pointer;
}

.dropmount {
    position: absolute;
    top : 100%;
    left : 0;
    z-index: 1;
    width : 100%;
    text-decoration: none;
    color : inherit;
    animation: slideInY 0.5s ease-out;
    font-weight: bold;
}

.dropunmount {
    position: absolute;
    top : 100%;
    left : 0;
    z-index: 1;
    width : 100%;
    color : inherit;
    text-decoration: none;
    animation: slideOutY 0.5s ease-out;
    font-weight: bold;
}

.dropmount :hover {
    color :black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    font-weight: bold;
}

.dropunmount :hover {
    color :black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    font-weight: bold;
}

/* CSS 스타일 시트 */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(4%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(4%);
    }
}

@keyframes slideInY {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutY {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.input-container {
    position: relative;
}

.inputmount {
    width: 40%;
    padding: 8px;
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    animation: slideIn 0.5s ease-out;
    min-width: 500px;
}

.inputunmount {
    width: 40%;
    padding: 8px;
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    animation: slideOut 0.5s ease-out;
    min-width: 500px;
}

.icon {
    animation: fadeIn 1s ease-out;
}

@media screen and (max-width: 1200px) {
    .inputmount {
        min-width: 300px;
    }

    .inputunmount {
        min-width: 300px;
    }
}


@media screen and (max-width: 600px) {
    .header {
        margin: 2%;
    }

    .headercontent {
        line-height: 40px;
    }

    .innerheader {
        line-height: 40px;
        gap : 20px;
    }

    .inputmount {
        min-width: 230px;
    }

    .inputunmount {
        min-width: 230px;
    }
}
